<h1>ApplicationModels</h1>

<ul>
  <% @application_models.each do |app| %>
    <li>
      <a href="/application_models/<%= app.token %>">
        <%= app.name %>
      </a>
    </li>
  <% end %>
</ul>